@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Dokdo&family=Italianno&family=Tangerine&display=swap");

.title_font {
  letter-spacing: 1px;
  font-family: "Dokdo", cursive;
}

.cursive_font {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 13px;
}

.tint {
  filter: brightness(50%);
}



th {
  padding: 10px;
  font-weight: normal !important;
}
.table_header {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.table_content {
  font-weight: normal !important;
  font-size: 14px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  background-color: #121418;
}

a {
  color: inherit;
  text-decoration: none;
}

.h_radio{
  margin-bottom:15px;
  margin-top:15px;
}

.i_radio{
  margin: 5px;
}

.l_radio{
  padding: 5px;
  font-weight: 'normal';
  font-size:12px;
}

* {
  box-sizing: border-box;
}

/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #707070;
}

.sec-color {
  color: #f23b5c;
}

.thi-color {
  color: #06b7b2;
}

.radio_item {
  padding: 5px;
  font-size: 11px;
  text-align: center;
  cursor: pointer;
  font-weight: normal;
  text-align: left;
  padding: 10px;
  background-color: #0a0a0a;
}

.bord-top{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.bord-bot{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.radio_item.active{
  background-color: rgb(77, 5, 122);
  border-color: white;
  color: 'black';
}

.radio_item.disabled{
  cursor: not-allowed;
  color: grey;
}


.page {
  width: 60px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.page.active {
  background-color: purple;
}

.no-border {
  border: none;
}

.invisible {
  visibility: hidden;
}

.page-disable {
  color: grey;
  border-color: grey;
  cursor: not-allowed;
}


.bg-tint {
  background-color: rgba(128, 0, 128, 0.4);
  background-blend-mode: multiply;
  animation: mymove 5s infinite;
  animation-direction: alternate;
}

@keyframes mymove {
  from {
  background-color: rgba(128, 0, 128, 0.4);
  }
  to {
  background-color: rgb(127, 0, 255, 0.4);
  }
}

.shadow {
  font-weight: 100;
  font-size: 33px;
  letter-spacing: -17px;
  text-shadow: -100px 200px 69px rgba(0, 0, 0, 0.2);
}

li {
  list-style-type: circle;
}


.ribbon {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  z-index: 10;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 2px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font-size:11px;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-align: center;
  text-transform: uppercase;
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -57px;
  top: 31px;
  transform: rotate(45deg);
}

