@tailwind base;
@tailwind components;
@tailwind utilities;

th {
  padding: 10px;
  font-weight: normal !important;
}
.table_header{
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.table_content{
  font-weight: normal !important;
  font-size: 14px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #080b16;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #707070;
}

.sec-color {
  color: #f23b5c;
}

.thi-color {
  color:#06b7b2;
}


